{% set extensions =  [
    'aaron-bond.better-comments',
    'wholroyd.jinja',
    'DavidAnson.vscode-markdownlint',
    'eamodio.gitlens',
    'esbenp.prettier-vscode',
    'felixfbecker.php-debug',
    'felixfbecker.php-intellisense',
    'formulahendry.code-runner',
    'GitHub.vscode-pull-request-github',
    'HookyQR.beautify',
    'jolaleye.horizon-theme-vscode',
    'kokororin.vscode-phpfmt',
    'korekontrol.saltstack',
    'mauve.terraform',
    'ms-kubernetes-tools.vscode-kubernetes-tools',
    'ms-python.python',
    'ms-vscode.Go',
    'ms-vscode.Theme-MarkdownKit',
    'PeterJausovec.vscode-docker',
    'redhat.vscode-yaml',
    'Remisa.shellman',
    'shd101wyy.markdown-preview-enhanced',
    'shinnn.stylelint',
    'sleistner.vscode-fileutils',
    'vscodevim.vim',
    'yzane.markdown-pdf',
    'yzhang.markdown-all-in-one',
    'zhuangtongfa.Material-theme'
  ]
%}